<div class="page-header">
  <%= link_to new_trail_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Trail
  <% end %>
  <h1>Here are your trails</h1>
</div>

<div class="table-responsive">
  <table class="table table-style table-bordered table-hover">
    <thead>
      <tr>
          <th>Trail Name</th>
          <th>Miles to Campsite</th>
          <th>Water source available?</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @trails) do |trail| %>
            <td><%= trail.name %></td>
            <td><%= trail.campsite %></td>
            <td>
               <% if trail.water_source == true %>
                 <span class="glyphicon glyphicon-ok"></span>
               <% else %>
                <span class="glyphicon glyphicon-unchecked"></span>
               <% end %>
            </td>

            <td><%= link_to 'Show', trail %></td>
        <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
        <td><%= link_to 'Delete', trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
