<div class="page-header">
  <%= link_to trails_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_trail_path(@trail), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Trail Info:</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @trail.name %></dd>

  <dt>Miles to Campsite:</dt>
  <dd><%= @trail.campsite %></dd>

  <dt>Water source?:</dt>
  <dd>
         <% if @trail.water_source == true %>
           <span class="glyphicon glyphicon-ok"></span>
         <% else %>
          <span class="glyphicon glyphicon-unchecked"></span>
         <% end %>
  </dd>
</dl>
  <br>

<div class="trail-image">
  <%= image_tag @picture["images"]["standard_resolution"]["url"] %>
</div>


